<%= render partial: 'new_form' %>


<div class="receipt">
  <h2>Vegas Hotel</h2>
  <h4>Receipt</h4>
  Name: <span class='checkin-name'></span><br>
  Locker#: <span class='checkin-locker'></span>
  <h5>Thank you for your business</h5>
</div>